* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
body {
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
    background-color: #b1937d;
    color: #0f1011;
}
header {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #3b2413;
    color:  #b85039;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 25px;
}
h1 {
  margin 0;
  padding 0;
  font-size: 2.7rem;
}
h2 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
form {
  border: 1px solid lightgray;
  margin-top: 2px;
  margin-bottom: 4px;
  padding: 7px;
}
form p {
  width: 50%; 
}